* {
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    display: flex;
    max-width: 300px;
    padding: 1em;
    flex-direction: column;
    margin: 3em auto;
    background-color: aliceblue;
    border: 2px solid #ccc;
    border-radius: 1em;
}


form>input {
    margin-bottom: 1em;
}

.divBotones {
    display: flex;
    justify-content: end;
    gap: 1em;
}

table {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    border-collapse: collapse;
}

th {
    background-color: aliceblue;
}

td,
th {
    text-align: left;
    padding: .5em 1em;
}

button {
    padding: 0.5em 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
    border: none;
}